<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "PcHub" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>

  <%= javascript_include_tag "application" %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target="#menu-header" data-offset="70">

    <nav class="navbar navbar-default navbar-fixed-top" id="menu-header">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= image_tag 'Peace_Corps_Logo_Banner_CMYK', class: "brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", "#home"  %></li>
            <li><%= link_to "Web Apps", "#web-apps"  %></li>
            <li><%= link_to "Mobile Apps", "#mobile-apps"  %></li>
            <% if current_user.present? %>
              <%= drop_down "Settings" do %>
                  <% if current_user.role == "admin" || current_user.role == "superadmin" %>
                    <%= menu_item "Users solicitations", user_list_path, :action => "index", :approved => "false" %>
                  <% end %>
                  <%= drop_down_divider %>
                  <%= menu_item "Sign Out", destroy_user_session_path, method: :delete %>
              <% end %>
            <% end %>
          </ul>
          <div class="col-md-6 pull-right">
            <%= form_tag(user_search_path, :method => "get", id: "search-form", class: "navbar-form") do %>
              <div class="input-group long-search-bar">
                <%= text_field_tag :search, params[:search], placeholder: "Search users and apps", class: "form-control" %>
                <div class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
                    <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>       
        </div>
      </div>
    </nav>

    <%= bootstrap_flash %>
    <%= yield %>

    <footer class="section section-footer">
      <div class="container footer-size">
        <div class="row">
          <div class="col-sm-4 footer-style">
            <%= image_tag 'logo-stacked-white', class: "brand" %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
