<%= bootstrap_form_for(@application) do |f| %>
	<%= f.hidden_field :platform, value: "web" %>
    <%= f.text_field :name %>
    <%= f.text_area :description, label: "Long Description", help: "Long description to be shown on the application page", rows: 2 %>
    <%= f.text_field :short_description, label: "Short Description", help: "Short description to be shown on the homepage slider" %>
    <div class="row">
	    <div class="col-md-6">
	    <%= f.text_field :app_link, label: "Website link", help: "Keep it blank if the application doesn't have a website yet" %>
	    <%= f.file_field :app_image, help: "Image to illustrate the application page" %>
	    </div>
	    <div class="col-md-6">
		    <%= f.text_field :repository_link, help: "Github link" %>
		    <%= f.file_field :slider_image, help: "Image to be shown on the homepage slider" %>
	    </div>
    </div>   

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-success"  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                applications_path, :class => 'btn btn-default' %>
    </div>
<% end %>
