<%= bootstrap_form_for(@notification) do |f| %>
	<%= f.hidden_field :application_id, :value => @application.id %>
    <%= f.text_field :title %>
    <%= f.text_area :content %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>